@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

body{
    background-color: #333;
    color: #fff;
    position: relative;
}

ul li{
    list-style-type: none;
}

.poster{
    width: 100px;
}